<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".nocturnos.bodegita"></activity>
        <activity android:name=".nocturnos.cantores" />
        <activity android:name=".nocturnos.patioBar" />
        <activity android:name=".nocturnos.palenqueBar" />
        <activity android:name=".nocturno" />
        <activity android:name=".Quevisitar.cienagaZapatosa" />
        <activity android:name=".Quevisitar.puebloBello" />
        <activity android:name=".Quevisitar.atanquez" />
        <activity android:name=".Quevisitar.Nabusimake" />
        <activity android:name=".QueVisitar" />
        <activity android:name=".hoteles.maranata" />
        <activity android:name=".hoteles.sonesta" />
        <activity android:name=".hoteles.tativan" />
        <activity android:name=".hoteles.mayalesPlaza" />
        <activity android:name=".hoteles.Sicarare" />
        <activity android:name=".vistaEventos.juanBosco" />
        <activity android:name=".vistaEventos.candelaria" />
        <activity android:name=".EventosRegion" />
        <activity android:name=".inicio" />
        <activity
            android:name=".splash"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsDondeEstoy"
            android:label="maps donde estoy" />
        <activity android:name=".visitar" />
        <activity
            android:name=".QueHacer"
            android:screenOrientation="locked" />
        <activity
            android:name=".EventosPrueba"
            android:label="title_activity_eventos_prueba" />
        <activity
            android:name=".MapsEventos"
            android:label="title_activity_maps_eventos" />
        <activity
            android:name=".resetPass"
            android:screenOrientation="locked" />
        <activity
            android:name=".Registrarse"
            android:screenOrientation="locked" />
        <activity
            android:name=".Login"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked" />
    </application>

</manifest>